@import '@sitecore/spd-styles/src/all';
@import 'variables';
@import 'mixins';

:host {
  overflow-y: auto;
  width: 100%;
}

.loading-indicator-container {
  position: relative;
}

ng-spd-horizontal-bars-loading-indicator {
  width: 100%;
}
