@import '@sitecore/spd-styles/src/all';
@import 'variables';
@import 'mixins';

.image-field-container {
  display: flex;
  flex-direction: column;

  .image-field-content {
    background-color: $brand-ui-white;
    border-radius: $border-radius-secondary;
    border: $framework-border;
    border-style: dashed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding-small;

    &.has-value {
      border-style: none;
      background-color: transparent;
      padding: 0;
      .image-section {
        .image-placeholder {
          justify-content: center;
        }
      }
    }

    &.dragging {
      background-color: $brand-primary-xxxx-light;
      border-color: $brand-primary-default;
    }

    .image-section {
      .image-placeholder {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: $padding-small;

        .overlay {
          height: 100%;
          width: 100%;
          position: absolute;
          background-color: $overlay-bg-color;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: $padding-x-small;

          &.hide {
            display: none;
          }
        }

        ng-spd-thumbnail {
          position: relative;
        }
        .thumbnail-icon {
          height: $font-size-50px;
          width: $font-size-50px;
        }
      }
      .upload-image {
        display: flex;
        flex-direction: column;
        gap: $padding-x-small;
        font-size: $font-size-14px;

        .upload-text {
          color: $brand-primary-default;
          cursor: pointer;
        }
      }
    }
  }

  .alt-input, .path-input {
    flex: 1;
    margin-top: $spacing-7xs;
    .label {
      font-size: $font-size-14px;

    }

    input {
      border-radius: $border-radius-secondary;
      border: $framework-border;
    }
  }
}

.supported-file-types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-neutral-x-dark;
  color: $brand-ui-white;
  padding-inline: $padding-small;
  min-height: 48px;

  span {
    font-size: $font-size-13px;
    font-weight: $font-weight-regular;
  }
  .extensions {
    display: flex;
    gap: $padding-x-small;
  }
}

.dialog-content {
  min-width: 100px;
}
