<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <config>
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageSourceCredentials>
    <sitecore-xmcloud>
      <add key="Username" value="%CLOUDSMITH_USERNAME%" />
      <add key="ClearTextPassword" value="%CLOUDSMITH_APIKEY%" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </sitecore-xmcloud>
    <sitecore-10.4.0_master>
      <add key="Username" value="%CLOUDSMITH_USERNAME%" />
      <add key="ClearTextPassword" value="%CLOUDSMITH_APIKEY%" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </sitecore-10.4.0_master>
    <sitecore-internal-tools>
      <add key="Username" value="%CLOUDSMITH_USERNAME%" />
      <add key="ClearTextPassword" value="%CLOUDSMITH_APIKEY%" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </sitecore-internal-tools>
    <sitecore-internal-prod>
      <add key="Username" value="%CLOUDSMITH_USERNAME%" />
      <add key="ClearTextPassword" value="%CLOUDSMITH_APIKEY%" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </sitecore-internal-prod>
  </packageSourceCredentials>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="sitecore-xmcloud" value="https://nuget.sitecore.com/XmCloud/v3/index.json" />
    <add key="sitecore-10.4.0_master" value="https://nuget.sitecore.com/sxp_10_4_0_master/v3/index.json" />
    <add key="sitecore-internal-tools" value="https://nuget.sitecore.com/internal_tools/v3/index.json" />
    <add key="sitecore-internal-prod" value="https://nuget.sitecore.com/internal_prod/v3/index.json" />
  </packageSources>
</configuration>
