legacy-peer-deps=true
@sitecore:registry=https://npm.sitecore.com/internal_prod/
//npm.sitecore.com/internal_prod/:_authToken=${CloudSmithApiToken}
@sitecore-marketplace-sdk:registry=https://npm.sitecore.com/marketplace/
@sitecore-mkp:registry=https://npm.sitecore.com/marketplace/
always-auth=true
//npm.sitecore.com/marketplace/:_authToken=${CloudSmithApiToken}
