{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "src/**/*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "src/**/*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
