{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 140,
  "overrides": [
    {
      "files": "src/**/*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "src/**/*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
