@import '@sitecore/spd-styles/src/all';
@import 'variables';

$max-width: 300px;

:host {
  display: block;
  text-align: center;
  width: 100%;

  .empty {
    margin: 0 auto;
    max-width: $max-width;

    .create-action {
      background: transparent;
      border: none;
      color: $brand-primary-dark;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-14px;
      cursor: pointer;

      &.disabled {
        @include interactive-disabled;
      }
    }

    .description {
      @include default-text;
    }

    .title {
      font-size: $font-size-16px;
      font-weight: $font-weight-semi-bold;
    }
  }
}
