// All variables here are taken from spd style project file _palette-colors.scss

$ui-white-alpha-900: rgba(255, 255, 255, 0.94);
$ui-primary-400: #877efa;
$ui-purple-100: #e9e7ff;
$ui-purple-500: #5548d9;
$ui-purple-600: #463abc;
$ui-black-alpha-900: rgba(0, 0, 0, 0.94);
$ui-yellow-400: #ae8a00;
$ui-yellow-300: #d7b300;
$ui-gray-800: #282828;
$ui-gray-500: #717171;
$ui-gray-900: #212121;
$ui-gray-300: #b5b5b5;
$base-error-color: #ca241c;
$base-framework-color: #969696;
$base-C09-color: #297c7f;
