<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="instances" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <instances>
    <add key="CM" value="https://horizon" />
    <add key="Horizon" value="https://horizon-ah" />
    <add key="ContentHub" value="https://horizondk.stylelabsqa.com/" />
  </instances>
  <appSettings>
    <add key="Browser" value="chrome" />
    <!--Admin user name used for service calls-->
    <add key="AdminUser" value="sitecore\Admin" />
    <!--Admin user password-->
    <add key="AdminPassword" value="b" />
    <!--Save the screenshot if test is failed-->
    <add key="MakeScreenshotOnFailure" value="true" />
    <!--Path to save screenshot images-->
    <add key="ScreenshotFolder" value="\\vega\FileExchange\HDA\TestFailuresScreenshots" />
    <!--The timeout for AJAX HTTP requests of jQuery and Sitecore client-->
    <add key="AjaxWaitTimeout" value="30000" />
    <!--Long wait timeout usually used for implicit wait for browser/page loading-->
    <add key="WaitTimeout" value="60000" />
    <!--Browser window width parameter-->
    <add key="BrowserWidth" value="1280" />
    <!--Browser window height parameter-->
    <add key="BrowserHeight" value="1024" />
    <!--Base path for Horizon app-->
    <add key="HorizonAppPath" value="/" />
  </appSettings>
</configuration>
