@inherits System.Web.Mvc.WebViewPage
@using Sitecore.Mvc;
<div>
  <div id="selectPoint" style="margin-left: 50px; color: green; font-size: 5px">ThinRendering. SelectPoint.</div>
  <div>@Html.Sitecore().Placeholder("phInThinRendering")</div>
</div>
