<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="sitecore-xmcloud" value="https://nuget.sitecore.com/XmCloud/v3/index.json" />
    <add key="sitecore-10.4.0_master" value="https://nuget.sitecore.com/sxp_10_4_0_master/v3/index.json" />
    <add key="sitecore-internal-tools" value="https://nuget.sitecore.com/internal_tools/v3/index.json" />
    <add key="sitecore-internal-prod" value="https://nuget.sitecore.com/internal_prod/v3/index.json" />
  </packageSources>
</configuration>
