<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="instances" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <instances>
    <add key="CM" value="https://xmcloudcm.localhost" />
    <add key="Horizon" value="https://ah.xmcloudcm.localhost" />
    <add key="AdditionalSiteHost" value="https://horizonadditionalsite" />
  </instances>
  <appSettings>
    <!--Preffered browser-->
    <add key="Browser" value="chrome" />
    <!--FirefoxDriver version. Latest if not specified-->
    <add key="FirefoxDriverVersion" value="0.27.0" />
    <!--ChromeDriverVersion version. Latest if not specified-->
    <!--Admin user name used for service calls-->
    <add key="AdminUser" value="admin@pagestest.com" />
    <!--Admin user full name (Full name column in XM CLoud User Manager)-->
    <add key="AdminUserFullName" value="xp" />
    <!--Admin user password-->
    <add key="AdminPassword" value="Pi2(Zq1?Rm0.Cc0,Fv5/" />
    <!--Test client ID in staging to fetch token-->
    <add key="AuthClientId" value="HmgNWvRDyba7HLbhlzpONqmApXb5aEib" />
    <!--Staing auth audience to fetch token-->
    <add key="AuthAudience" value="https://api-staging.sitecore-staging.cloud" />
    <!--Org Id for Pages Test organization-->
    <add key="OrganizationId" value="org_FzUOtp4HjfZYw1Hv" />
    <!--Save the screenshot if test is failed-->
    <add key="MakeScreenshotOnFailure" value="true" />
    <!--Path to save screenshot images-->
    <add key="ScreenshotFolder" value="\\vega\FileExchange\HDA\TestFailuresScreenshots" />
    <!--The timeout for AJAX HTTP requests of jQuery and Sitecore client-->
    <add key="AjaxWaitTimeout" value="60000" />
    <!--Long wait timeout usually used for implicit wait for browser/page loading-->
    <add key="WaitTimeout" value="120000" />
    <!--Browser window width parameter-->
    <add key="BrowserWidth" value="1680" />
    <!--Browser window height parameter-->
    <add key="BrowserHeight" value="1050" />
    <!--Base path for Horizon app-->
    <add key="HorizonAppPath" value="/" />
    <add key="ExpEdgeAPIBaseUrl" value="https://delivery-staging.sitecore-staging.cloud/api/graphql/v1" />
    <add key="ExpEdgeQraphQlApiKey" value="SFJhSE1KSTh4NEpDNkYwWUlYQXI3Y3hQSFV2eFJtYnZ5THNSd0g5VE8wST18cGFnZXMtc3RhZ2luZw==" />
    <add key ="XMAppsUrl" value="https://xmapps-staging.sitecore-staging.cloud"/>
  </appSettings>
</configuration>
