<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or XmCloud">
    <settings>

      <!--
                HORIZON SHOW DETAILED GRAPHQL ERROR
                Specifies whether to show full exception details on GraphQL error.
                Default value: false
            -->
      <setting name="Horizon.GraphQL.ShowDetailedErrors" value="false" />
    </settings>

    <services>
      <configurator type="Sitecore.Horizon.Integration.GraphQL.DependencyInjection.HorizonIntegrationGqlConfigurator, Sitecore.Horizon.Integration.GraphQL" />
    </services>

    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="SitecoreHorizonQueryController">Sitecore.Horizon.Integration.GraphQL.Controllers.HorizonQueryController, Sitecore.Horizon.Integration.GraphQL</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>
