<ng-spd-card [disabled]="disabled">
  <ng-spd-card-header
    [title]="
      dataType === 'visits'
        ? ('ANALYTICS.SITE_ANALYTICS.TITLES.VISITS' | translate)
        : ('ANALYTICS.SITE_ANALYTICS.TITLES.VISITORS' | translate)
    "
    [tooltipText]="
      (mode !== 'pageAnalytics'
        ? 'ANALYTICS.SITE_ANALYTICS.DESCRIPTIONS.VISITORS_VISITS_TIMESERIES'
        : 'ANALYTICS.PAGE_ANALYTICS.DESCRIPTIONS.VISITS_TIMESERIES'
      ) | translate
    "
    [hasBackground]="true"
  >
    <ng-spd-droplist
      id="hrzSaDataTypeDroplist"
      *ngIf="(activeRouteState$ | async) === 'site'"
      (selectedValueChange)="dataType = $event; handleData()"
      [variant]="'colored'"
      [placeholder]="'ANALYTICS.SITE_ANALYTICS.TITLES.VISITS' | translate"
      selectedValue="visits"
      variant="basic"
    >
      <ng-template ngSpdDroplistItem [value]="'visits'" [label]="'ANALYTICS.SITE_ANALYTICS.TITLES.VISITS' | translate">
        {{ 'ANALYTICS.SITE_ANALYTICS.TITLES.VISITS' | translate }}
      </ng-template>
      <ng-template
        ngSpdDroplistItem
        [value]="'visitors'"
        [label]="'ANALYTICS.SITE_ANALYTICS.TITLES.VISITORS' | translate"
      >
        {{ 'ANALYTICS.SITE_ANALYTICS.TITLES.VISITORS' | translate }}
      </ng-template>
    </ng-spd-droplist>

    <ng-spd-droplist
      id="hrzSaChartTypeDroplist"
      (selectedValueChange)="chartType = $event"
      [variant]="'colored'"
      [placeholder]="'ANALYTICS.SITE_ANALYTICS.CHARTS.CHART_TYPE' | translate"
      selectedValue="line"
      variant="basic"
    >
      <ng-template
        ngSpdDroplistItem
        [value]="'line'"
        [label]="'ANALYTICS.SITE_ANALYTICS.CHARTS.LINE_CHART' | translate"
      >
        {{ 'ANALYTICS.SITE_ANALYTICS.CHARTS.LINE_CHART' | translate }}
      </ng-template>
      <ng-template
        ngSpdDroplistItem
        [value]="'bar'"
        [label]="'ANALYTICS.SITE_ANALYTICS.CHARTS.COLUMN_CHART' | translate"
      >
        {{ 'ANALYTICS.SITE_ANALYTICS.CHARTS.COLUMN_CHART' | translate }}
      </ng-template>
    </ng-spd-droplist>
  </ng-spd-card-header>
  <app-line-chart
    id="hrzTimeSeriesLineGraph"
    *ngIf="chartType === 'line' && !isLoading"
    [items]="chartData || []"
    [isLegendVisible]="!!secondVariantVisitsChartData"
    [isReversedPalette]="
      !visitsChartData?.data?.current?.length && !!secondVariantVisitsChartData?.data?.current?.length
    "
  ></app-line-chart>

  <app-bar-chart
    id="hrzTimeSeriesBarGraph"
    *ngIf="chartType === 'bar' && !isLoading && !secondVariantVisitsChartData"
    [items]="chartData ? chartData[0].series : []"
    [isReversedPalette]="true"
  ></app-bar-chart>

  <app-bar-chart-grouped
    id="hrzTimeSeriesBarGraphGrouped"
    *ngIf="chartType === 'bar' && !isLoading && secondVariantVisitsChartData && groupedData"
    [items]="groupedData"
    [paletteIndex]="2"
  ></app-bar-chart-grouped>

  <div class="loading" *ngIf="isLoading">
    <ng-spd-loading-indicator></ng-spd-loading-indicator>
  </div>
</ng-spd-card>
